section.primary-view {
    padding-top: 45px !important;
}
#block-homepagehero {
    padding-top: 0px !important;
    
    .jumbotron{
        color: $white;
        background: #ffc400;
        background: -moz-linear-gradient(top,#ffc400 0,#fcb316 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffc400),color-stop(100%,#fcb316));
        background: -webkit-linear-gradient(top,#ffc400 0,#fcb316 100%);
        background: -o-linear-gradient(top,#ffc400 0,#fcb316 100%);
        background: -ms-linear-gradient(top,#ffc400 0,#fcb316 100%);
        background: linear-gradient(to bottom,#ffc400 0,#fcb316 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
        text-align: center;
        .container {
            background-image: url('/themes/petplan_subtheme/images/swirly_line.png');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
        }

        img.dog {
            margin: 0 0 0 40px;
        }
        .dog-name {
            font-family: $hand-of-sean;
        }
        h1 {
            font-family: $vag;
            text-transform: uppercase;
            font-size: 36px;
            span.delicious {
                font-family: $hand-of-sean;
                font-weight: 200;
                text-transform: lowercase;
                color: #ffe98f;
            }
        }
        div.appetite {
            font-family: $font-family--primary;
            margin: 10px 0;
            text-align: center;
        }
        div.see {
            font-family: $font-family--bold;
            margin: 10px 0;
            text-align: center;
        }
        .sub-form {
            text-align: center;

            form {
                width: 100%;
                margin: 5px auto;
            }

            .field {
                float: left;
                padding: 4px;
                height: 50px;
            }
            .formBtn {
                padding: 12px;
                &.custom {
                    .btn.btnLink {
                        padding-top: 0px;
                        padding-bottom: 10px;
                        line-height: 48px;
                    }
                }
            }
        }
    }    
}

@media only screen and (min-width : $screen-sm) {
    #block-homepagehero .jumbotron{
        padding-top: 40px;
        padding-bottom: 0px;
        .dog-name {
            margin-top: 320px;
            margin-left: 40px;
            font-size: 20px;
            z-index: 10;
        }

        h1 {
            font-size: 60px;
            letter-spacing: .025em;            
            margin-bottom: 40px;
            span.delicious {
                font-size: 60px;                
            }
        }
        div.appetite {
            font-family: $font-family--bold;
            font-weight: 600;
            font-size: 100%;
            margin: 12px 0;
        }
        div.see {
            font-family: $font-family--x-bold;
            font-weight: 800;
            font-size: 100%;
            margin: 12px 0;
        }
        .sub-form {
            padding: 10px 20px;
            .field {
                float: left;
                width: 42%;
                padding: 12px;
                height: 50px;
            }
            .formBtn {
                float: left;
                margin-left: 15px;
                padding: 12px;
            }
        }
    }
}

// How it works
#block-homepage-3col {
    padding: 0px !important;
}
.howItWorks {
    padding: 48px 0;
    text-align: center;
    background-color: $blue;
    @include vendor-prefix(box-shadow, inset 0px 0px 32px -6px rgba(0, 0, 0, 0.20));
    h1 {
        font-size: 32px;
        color: $white !important; 
        font-family: $font-family--secondary;
        text-transform: uppercase;
    }
    div {
        font-family: $font-family--primary;
        font-size: 20px;
        color: #fff;
        padding: 40px 55px 10px;
        img {
            display: block;
            height: 60px;
            margin: 0 auto;
        }

        h3 {
            font-family: $font-family--secondary;
            font-weight: bold;
            font-size: 22px;
            display: block;
            margin: 15px 0 10px;
        }
    }
    .howItWorksBtn {
        text-align: center;;
    }
}

// Service Section styles
section.block-frontpage-why-petplan {
    padding: 0px auto !important;
}
section.service {
    padding: 0px auto !important;
    .centered {
        text-align: center;
        color: $dark;
        text-align: center;
        max-width: 1000px;
        margin: 0 auto;
        .blockTitle {
            h2 {
                color: $blue;
                font-size: 36px;
                font-weight: 100;
            }
            p {
                font-family: $font-family--primary;
                font-size: $fontSize + 2px;
                color: $dark;
                padding: 10px;
            }
        }

        .items .item {
            padding: 15px;
            text-align: left;
            .icon {
                position: absolute;
                left: 0px;
                width: 80px;
                text-align: center;
                img {
                    height: 47px;
                }
            }
            .info {
                padding-left: 80px;
                strong {
                    color: $blue;
                    font-family: $font-family--x-bold;
                    font-size: $fontSize + 6px;
                    font-weight: 700;
                    font-style: normal;
                }

                p {
                    font-size: $fontSize + 2px;
                    line-height: 24px;
                }
            }
        }
        .serviceMeta {
            text-align: center;
            margin-top: 25px;
            position: relative;
            p {
                font-size: $fontSize + 4px;
                padding: 10px;
            }
            a {
                margin: 10px auto;
            }
            &::after {
                content: " ";
                position: absolute;
                left: 0;
                top: 0px;
                width: 285px;
                height: 175px;
                display: block;
                background: url("../images/puppy.png") no-repeat center center;
            }
        }
    }
}
#myCarousel .carousel-inner{
    width: 300px;
}
#myCarousel .carousel-inner .item {
    width: 100%;
    height: 300px;
}
#myCarousel .carousel-inner .item {
    background-image: url(http://dummyimage.com/1500x500/333/999.png);
    background-size: cover;
    background-position: center top;
}
#myCarousel .carousel-inner .item-2 {
    background-image: url(http://dummyimage.com/1500x500/555/999.png)
}
#myCarousel .carousel-inner .item-3 {
    background-image: url(http://dummyimage.com/1500x500/777/999.png)
}
@media (min-width:768px) { 
    #myCarousel .carousel-inner .item {
        height: 500px
    }
}
